services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /data/certbot/conf:/etc/letsencrypt
      - /data/certbot/www:/var/www/certbot
      - /data/static:/app/staticfiles
      - /data/media:/app/media
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: ghcr.io/abiy5791/robelstudio:backend-latest
    environment:
      - SERVER_NAME=${SERVER_NAME}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_HOST=db
      - DB_PASSWORD=${DB_PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG:-False}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - DJANGO_USE_WHITENOISE=true
      - DJANGO_CORS_ALLOW_ALL_ORIGINS=false
      - DEBUG=False
      - SECURE_SSL_REDIRECT=true
      - USE_HTTPS=true
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - /data/media:/app/media
      - /data/static:/app/staticfiles
    networks:
      - app-network
      - db-network

  # frontend:
  #   build:
  #     context: ./FrontEnd
  #     dockerfile: Dockerfile
  #     args:
  #       - VITE_API_BASE=${VITE_API_BASE}
  #       - VITE_DEVELOPER_NAME=${VITE_DEVELOPER_NAME}
  #       - VITE_DEVELOPER_PHONE=${VITE_DEVELOPER_PHONE}
  #   image: ghcr.io/yourusername/robelstudio:frontend-latest
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   depends_on:
  #     - backend
  #   restart: unless-stopped
  #   volumes:
  #     - /data/static:/usr/share/nginx/html/static
  #     - /data/media:/usr/share/nginx/html/media
  #   networks:
  #     - app-network

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - /data/postgres:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - db-network

networks:
  app-network:
    driver: bridge
  db-network:
    driver: bridge

